<template>
    <div ref='draggableContainer' class='chart-container'>
        <slot />
    </div>
</template>

<script>
import interact from 'interactjs'

export default {
  name: 'Draggable',
  data () {
    return {
      screenX: 0,
      screenY: 0
    }
  },
  mounted: function () {
    const draggableContainer = this.$refs.draggableContainer
    this.initInteract(draggableContainer)
  },
  methods: {
    initInteract: function (selector) {
      interact(selector).draggable({
        // enable inertial throwing
        inertia: true,
        // keep the element within the area of it's parent
        restrict: {
          restriction: 'parent',
          endOnly: true,
          elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
        },
        // enable autoScroll
        autoScroll: true,

        // call this function on every dragmove event
        onmove: this.dragMoveListener,
        // call this function on every dragend event
        onend: this.onDragEnd
      })
    },
    dragMoveListener: function (event) {
		const target = event.target
        // keep the dragged position in the data-x/data-y attributes
		const x = (parseFloat(target.getAttribute('data-x')) || this.screenX) + event.dx
		const y = (parseFloat(target.getAttribute('data-y')) || this.screenY) + event.dy

		// translate the element
		target.style.webkitTransform = target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

		// update the posiion attributes
		target.setAttribute('data-x', x)
		target.setAttribute('data-y', y)
    },
    onDragEnd: function (event) {
      var target = event.target
      // update the state
      this.screenX = target.getBoundingClientRect().left
      this.screenY = target.getBoundingClientRect().top
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.chart-container {
  width: 20em;
  height: 18em;
  padding: 2em;
  border: 2px solid #c1c1c1;
  border-radius: 4px;
}
@media (min-width: 992px) {
	.chart-container {
		width: 40em;
		height: 24em;
	}
}
</style>
