<template>
  <div class="drag-container">
    <Draggable>
      <AreaChart v-if="gotChartData" :chartData="chartData" :styles="chartStyle"/>
    </Draggable>
    <v-snackbar
      v-model="snackbar"
      color="error"
      :timeout="3000"
      :top="true"
      :vertical="false"
    >
      {{ snackbarText }}
      <v-btn icon x-small @click="snackbar = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { chartService } from '../_services'
import AreaChart from './AreaChart.vue'
import Draggable from './Draggable'

export default {
  name: 'Home',
  components: {
    AreaChart,
    Draggable
  },
  data () {
    return {
      gotChartData: false,
      chartData: [],
      snackbar: false,
      snackbarText: ''
    }
  },
  methods: {
    handleChartData (data) {
      for (const prop in data.bpi) {
        const item = { x: new Date(prop), y: data.bpi[prop] }
        this.chartData.push(item)
      }
      this.gotChartData = true
    }
  },
  computed: {
    chartStyle () {
	// width is handled from the chart-container
      if (screen.width > 992) {
        return {
          height: '20em'
        }
      } else {
        return {
          height: '15em'
        }
      }
    }
  },
  created () {
    chartService.getChartData().then((response) => {
      if (response.data) {
        this.handleChartData(response.data)
      } else {
        this.snackbarText = response.message
        this.snackbar = true
      }
    })
  }
}
</script>

<style scoped>
.drag-container {
  height: 100%;
  width: 100%;
  padding: 2em;
}
</style>
